[2018-10-18 20:55] albsa opened #1 "This shipping method is not available. To use this shipping method, please contact us."
Hi guys,

I am getting the following error on the front-end, however it is activated within SendCloud.
<img width="851" alt="schermafbeelding 2018-10-18 om 22 54 50" src="https://user-images.githubusercontent.com/8933779/47183651-dd509b00-d328-11e8-8bf7-13ce4ce373c6.png">
<img width="937" alt="schermafbeelding 2018-10-18 om 22 54 44" src="https://user-images.githubusercontent.com/8933779/47183652-

[2018-10-18 20:56] albsa commented on #1
@rickvanoosten

[2018-11-09 18:45] henk102 commented on #1
I have the same issue, also with MG2 v2.2.6, anly solution available yet?

[2018-11-20 13:33] pimruiter opened #2 "One Step Checkout servicepoints JS error - order servicepoint information missing"
Hi Creative ICT,

The following javascript error is visible when opening the checkout of the supported Magento2 One Step Checkout extension.

![image](https://user-images.githubusercontent.com/16269189/48776770-ff935b00-ecd0-11e8-8dc0-ecb958d6d6fe.png)

This doesn’t break the checkout, but after saving the order, the servicepoint location is not saved in the order. You’ll see an empty location in

[2018-11-20 13:46] pimruiter opened #3 "Payment methods are not visible in One Step Checkout"
Hi Creative ICT,

After enabling the Sendcloud servicepoint extension, the payment methods and sometimes other steps in the OSC are hidden (not visible) for logged-in customers.

When entering the One Step Checkout as a customer no payment methods are visible, see screenshot below:
![image](https://user-images.githubusercontent.com/16269189/48777460-e7bcd680-ecd2-11e8-96da-9550f1ccad90.png)

This

[2018-11-29 09:54] pimkorschnercreative commented on #2
Hi Pim,

We are currently working on the issues within this project. Your pull request will be checked by our developers working on the project.

[2018-12-11 14:08] speedupmate commented on #3
This is a data dependency issue on ko bindings. https://github.com/creative-ict/sendcloud/search?q=getServicePointInformation&unscoped_q=getServicePointInformation

The call it fails is  inside a template <strong data-bind="text: getServicePointInformation().name"></strong>  and this is just blind coding expecting thatobjects , attributes and values  are always present. The method itself however c

[2018-12-12 11:14] rakibabu commented on #3
@speedupmate ,

Your fix works but really what should be fixed is to check if there's a servicepoint set. When true get the name property of the object in stead of setting an empty object with an empty name value.

[2018-12-12 11:19] speedupmate commented on #3
@rakibabu my fix is not a fix but proof of concept to illustrate whats causing the issue

[2018-12-13 08:17] pimkorschnercreative commented on #2
We cannot seem to replicate the issue on our side.
Could you please provide some additional information with the steps to reproduce this issue and which of the supported Magento2 One Step Checkout extensions you are using?

As for pull request #4, triggering a click on the first shipping method does not seem like a proper solution to the issue. The issue is getServicePointInformation() returning n

[2019-01-14 12:44] Tjitse-E opened #6 "Unable to refund old orders (No such entity with cartId = xxxx)"
This module uses the `sales_order_save_before` event to set the Sendcloud order atttributes. This causes an error when you're trying to refund an old order (older than 30 days), because the quote for this order is already cleaned by Magento.

[2019-02-01 18:16] nobodyMO opened #8 "Release 1.0.8 doesn't support Magento 2.3"
The current requirements prevents the installation on Magento 2.3
("magento/framework": ">=100 <102")
Please change the  composer.json file.

[2019-02-22 14:07] rakibabu opened #9 "Weird rendering bug in One Step Checkout with Sendcloud module"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
Currently, when going to the checkout with the Sendcloud module enabled, the last step of the checkout randomly disappears. This happens 1 out of 10 times completely random. See screenshot. ![dierapotheek_sendcloud_issue](https://user-images.githubusercontent.com/14089150/53247397-87637980-36b3-11

[2019-03-07 08:34] pimkorschnercreative commented on #6
Pull-request has been merged.

[2019-03-07 08:34] #6 closed

[2019-03-14 14:02] digikeijs commented on #8
@pimkorschner @creative-ict-projecten can you share any timelines on when this will be available for magento 2.3?

[2019-03-14 14:19] clatlas127 commented on #8
@digikeijs I contacted Sendcloud about this and they told me they expect it to be ready at the end of Q1 or early Q2...

[2019-03-15 13:39] albsa commented on #8
Ridiculous, 2.3 has been out now for a while. Even stranger is that you are unable to connect SendCloud without this module.

[2019-03-15 16:08] clatlas127 commented on #8
@albsa Exactly, 2.3 has been out since the end of November 2018 and yet no solution..Besides what worries me most is that theres absolutely no communication from CreativeICT @creative-ict-projecten, that is absolutely unacceptable from a company like SendCloud..Maybe it's time for SendCloud to hire another company for this job?

[2019-03-18 08:36] albsa commented on #8
I agree on that, also I don't understand why there is not even a single communication about that, even not from SendCloud, I will try to contact them and see what's going on.

[2019-04-18 19:05] aderik commented on #8
Solved in 1.0.10

[2019-04-18 19:05] #8 closed

[2019-04-23 00:20] Issam7 commented on #8
@aderik
Can you inform us when this will be released as a stable version ?

[2019-04-24 09:38] pimkorschnercreative commented on #8
@Issam7 Released as stable in 1.0.11

[2019-04-25 21:02] Issam7 opened #15 "can't install release 1.0.11 on a fresh magento 2.3.1"
Hello,

I'm facing an issue on trying to install release 1.0.11 on a fresh magento 2.3.1
Here is the output:

[2019-04-26 11:36] pimkorschnercreative commented on #15
Hi,
Thanks for creating the issue, this has been fixed in release 1.0.12

[2019-04-26 11:36] #15 closed

[2019-05-20 10:01] rakibabu commented on #9
Closing this issue due inactivity

[2019-06-05 17:10] tbiest opened #20 "Support for Mageplaza Onestepcheckout (version 2.8)"
When will this module be compatible with Mageplaza Onestepcheckout (one of the most used OSC extensions for Magento2)??

This is the number 1 reason I cannot use sendcloud at the moment.

I use Magento Open Source 2.3.1
Mageplaza OSC 2.8

The problem is that the checkout screen does not render completely (no shipping methods available for this offer, payment methods are blank. address field box no

[2019-07-03 04:58] pointia opened #23 "Typo error in Block\Checkout\Config causes Magento to crash"
Hi,
unfortunately the last commit by
 pimkorschnercreative committed 5 days ago 16f2fc23f3d8ad18048dfa3e3b97054bcf1eff2a
causes Magento 2.3.1 to crash because of a typo error

SendCloud\SendCloud\Block\Checkout\Config

Is now:
[code]
should be:
[code]

[2019-07-03 10:56] rakibabu commented on #23
https://github.com/creative-ict/sendcloud/pull/22

[2019-07-03 11:21] #23 closed

[2019-07-15 06:49] skast96 opened #24 "Sendcloud/Block/Checkout/Config $scopeConfig not found"
There is an issue within the Config block because you missed an _ it should be
`
     return $this->_scopeConfig->getValue('sendcloud/sendcloud/script_url', ScopeInterface::SCOPE_STORE);
`

[2019-07-15 08:39] digikeijs commented on #24
Change row 26 to

return $this->_scopeConfig->getValue('sendcloud/sendcloud/script_url', ScopeInterface::SCOPE_STORE);

vendor/sendcloud/sendcloud/Block/Checkout/Config.php

[2019-07-15 08:54] pimkorschnercreative commented on #24
Issue has been forwarded to support

[2019-07-17 05:57] pointia commented on #24
Already handled in #22
@pimkorschnercreative please merge the pull request and create new release

[2019-07-17 07:02] pimkorschnercreative commented on #24
#22 has been assigned

[2019-07-26 07:20] digikeijs opened #26 "First load default onestepcheckout shows service point while country disabled"
For one of our store views the default country is Germany, on the first load it shows the pickup points method which is not correct. Germany is disabled in the backend. When entering an address the method is disabled but it should check the country on the first load. Magento 2.3.0 with the default magento checkout

![image](https://user-images.githubusercontent.com/34745091/61933620-98782580-af86-

[2019-07-26 07:30] digikeijs opened #27 "Service point country does not change when a customer has multiple addresses (more then 1 country)"
Magento 2.3.0. Default checkout.
When a customer has multiple addresses with different countries the service point will not change country when selecting a different adres in magento.
![image](https://user-images.githubusercontent.com/34745091/61934152-f5c0a680-af87-11e9-974f-0b6894dd253a.png)
![image (1)](https://user-images.githubusercontent.com/34745091/61934158-f9542d80-af87-11e9-9873-c331d998

[2019-07-26 09:38] nocturnalfrog opened #29 "Checkout is broken in IE (11)"
The `vendor/sendcloud/sendcloud/view/frontend/web/js/view/shipping.js` file causes the following error on the checkout page in IE (11)
"Multiple definitions of a property not allowed in strict mode" breaking the checkout.

[2019-07-30 12:37] aderik commented on #29
This will be fixed in 1.0.15

[2019-07-30 12:37] #29 closed

[2019-07-30 12:38] #2 closed

[2019-07-30 12:39] aderik commented on #24
This will be fixed in 1.0.15

[2019-07-30 12:39] #24 closed

[2019-07-30 14:50] #9 closed

[2019-10-03 13:18] Tjitse-E opened #34 "Sendcloud missing in Magento\Shipping\Model\Config\Source\Allmethods"
We need a list of all shipping methods in Magento 2, for this we use the method `\Magento\Shipping\Model\Config\Source\Allmethods::toOptionArray`. Sendcloud is missing in this list because of this method:

[code]
See https://github.com/creative-ict/sendcloud/blob/master/Model/Carrier/SendCloud.php#L123-L125

The body of this method was removed in commit https://github.com/creative-ict/sendcloud/co

[2019-10-16 10:56] nocturnalfrog opened #36 "Uncaught TypeError: this._super is not a function"
This Javascript error occurs during checkout when proceeding to the payment step.
[code]
The `shipping.js:265` refers to `vendor/sendcloud/sendcloud/view/frontend/web/js/view/shipping.js:265`

In this file you extend the `Magento_Ui/js/form/form` component.
Nothing wrong with that, except that when you call `var result = this._super();` on line 265 in the `setShippingInformation` function you assu

[2019-10-16 11:29] nocturnalfrog opened #37 "Uncaught TypeError: this.elems is not a function"
This error occurs when visiting the checkout.

It's cause by `vendor/sendcloud/sendcloud/view/frontend/web/js/mixins/checkout/view/shipping-information.js`.
This file is overriding the `initObservable` function without calling the parent function.

**How To Fix:**

Change:
[code]

to:
[code]

[2019-10-16 11:34] nocturnalfrog opened #38 "Checkout is broken in IE (11) ... Again!"
The `vendor/sendcloud/sendcloud/view/frontend/web/js/view/shipping.js` file causes the following error on the checkout page in IE (11)
"Multiple definitions of a property not allowed in strict mode" breaking the checkout.

This time it's the `triggerShippingDataValidateEvent` function that's defined twice.

[2019-10-22 08:05] onepack opened #42 "Connecting the 2.3.3 shop gives me a Server Error 500 page in Sendcloud"
After a refresh of the error page in Sendcloud: https://panel.sendcloud.sc/shops/magento_v2/connect/

I get a page that asks me to check the errors in Sendcloud page.

So there I see all my trials to connect with the error:
Bij de foutmeldingen pagina krijg ik hetvolgende:

21-10-2019 21:20:10 PUT https://domain.nl/index.php/rest/V1/shipping-email 405

So the REST is doing a put on the custom ship

[2019-10-28 13:56] #38 closed

[2019-10-29 11:17] DaimPiek opened #43 "ServicePoint breaks REST/SOAP API Schema"
**Prerequisites:**
Magento 2.3.X
Sendcloud 1.0.14

When accessing the following page:
https://hostname.tld/fr/rest/all/schema?services=all

The following stacktrace is shown:

[code]

Issue is the return type of the following methods:
\SendCloud\SendCloud\Model\ServicePoint::activate
\SendCloud\SendCloud\Model\ServicePoint::deactivate
\SendCloud\SendCloud\Model\ServicePoint::shippingEmail

Which s

[2019-11-01 12:09] jorgb90 commented on #20
Is this solved or is there still no support for Mageplaza OSC?

[2019-11-01 14:05] jorgb90 opened #44 "Import Magento shipments and process"
It would be great if Sendcloud would not only send out T&T e-mails for shipments created within Sendcloud itself, but also for shipments created in Magento. The reason for that is that we do not ship all orders ourselves and thus import shipments for those external orders directly into Magento. It should be easy to implement by importing the tracking code from Magento into Sendcloud and use that c

[2019-11-01 18:59] tbiest commented on #20
Hello Jorg there are still issues. Only when using the Parcelshop option (a critical function of course).

I just tested it on the latest Mageplaza OSC version (2.9.0) with the same result.

[2019-11-04 15:48] #37 closed

[2019-11-05 08:10] #36 closed

[2019-11-14 12:27] aderik commented on #44
The API of Sendcloud doesn't support this, so it is impossible to implement this in our module.

[2019-11-14 13:01] aderik commented on #43
Did you also test 1.0.15?

[2019-11-14 14:37] DaimPiek commented on #43
The issue seems to be resolved in 1.0.15.

[2019-11-14 14:37] #43 closed

[2019-11-15 09:27] #44 closed

[2019-11-23 13:30] gjportegies opened #46 "Using SendCloud in a development environment"
Is it possible to use / test the SendCloud module in a development environment? I've installed the module via composer and enabled it.

But to use the module I've to connect it to SendCloud, which of course will not work because I'm running with Valet+ on a .test domain.

![Schermafbeelding 2019-11-23 om 14 27 43](https://user-images.githubusercontent.com/6707410/69479478-d6cf0580-0dfd-11ea-8949-a

[2019-12-10 10:59] aderik commented on #46
We are using also a docker environment to test the communication between Sendcloud server and our local environment. But we are using ngrok to expose our local environment to the internet.

[2019-12-19 14:17] onepack opened #47 "Support for Amasty Onestepcheckout"
One of the biggest providers of Magento modules Amasty is currently not supported.
I tried enabling their Onestepcheckout module but the Sending options are not loaded due to js errors.

I will look into this issue as well.

[2019-12-19 15:29] onepack commented on #47
In the source I can see that there have been modifications to work with Amasty OSC.

[2020-01-06 15:13] #46 closed

[2020-01-06 15:15] #34 closed

[2020-01-06 15:57] aderik commented on #47
Hi @onepack I can confirm this with version 2.9.0 and higher. So. The Sendcloud module is supported and working with 2.8.5 and lower. Right now we are working for a solution. But I suggest right now to install Amasty One Step Checkout 2.8.5.

[2020-01-12 16:15] albsa opened #48 "Free shipping treshhold from config values not working (servicepoint)"
Free shipping treshhold from given amount is not working.
Free treshhold is set to 50, however, the price still stays and does not lower to 0.
Please check asap.

[2020-01-13 09:07] onepack commented on #47
It would mean I need to go back 8 versions of their module and 23 fixes. I will work on this today.

[2020-01-13 11:21] glevhen opened #49 "Cannot read property 'name' of null error on the payment step"
Magento 2.3.2, Magento/blank theme
`knockout.js:3391 Uncaught TypeError: Unable to process binding "text: function(){return getServicePointInformation().name }"
Message: Cannot read property 'name' of null
    at text (eval at createBindingsStringEvaluator (knockout.js:2992), <anonymous>:3:92)
    at update (knockout.js:4669)
    at ko.dependentObservable.disposeWhenNodeIsRemoved (knockout.js:3383

[2020-01-17 12:00] onepack commented on #47
As the older version has issues with our current Magento version we cannot role back this far.
I have contacted Amasty about this issue and they claim this can be solved by them with some customization in their module that will be available for all customers. But this comes with a price.

[2020-01-20 21:11] albsa commented on #48
@rickvanoosten please check this guys, it's a very serious issue.

[2020-01-22 13:06] #49 closed

[2020-01-27 22:53] Thomas-gt3 commented on #48
I have the same problem, this possibility never worked !

[2020-01-30 09:56] maxivol commented on #48
Same issue. Please fix asap

[2020-01-31 15:06] aderik commented on #47
PR #52 is waiting for review

[2020-02-03 11:59] aderik commented on #48
Did you try version 1.0.16?

[2020-02-03 13:36] Thomas-gt3 commented on #48
Yes, I tried with the latest version.

[2020-02-03 13:49] aderik commented on #48
Ok. we will pick this up this week.

[2020-02-03 16:18] aderik commented on #47
This will be solved in release 1.0.18

[2020-02-03 16:18] #47 closed

[2020-02-06 10:57] aderik commented on #48
This is fixed in release 1.0.18

[2020-02-06 10:57] #48 closed

[2020-02-07 23:19] onepack opened #56 "Selecting service point in the Amasty OSC end up as DPD Home - DPD International"
I updated the Sendcloud module with the latest changes and found out in two test-orders the service-point selection did not make it to the final order.
DPD Home - DPD International was shown as the selected shipment method what is incorrect as I selected Service point.
I will disable the Amasty checkout and test again if it's also broken in the Magento default checkout.

[2020-02-07 23:23] onepack commented on #56
Default Magento checkout is working with this Sendcloud version. So there is still a bug between both modules.

[2020-02-09 13:33] onepack opened #57 "Change the scope to handle SCOPE_STORE in stead of WEBSITE"
A lot of stores handle different prices for store views.
So the FR store front should not have the pickup point or have a different price from NL or DE.
I changed the system.xml to handle this but an update will of course destroy this change.
There is no reason to not allow shop owners to set this as needed.

[2020-02-10 10:28] aderik commented on #56
Which version SendCloud module and Amasty OSC?

[2020-02-10 10:44] Ellen-RoseVD commented on #56
@onepack Which version of Magento, Sendcloud and Amasty OSC do you use?

[2020-02-10 11:58] onepack commented on #56
Latest of all:
Magento 2.3.4
Latest Sendcloud via https://github.com/creative-ict/sendcloud with the latest fix to work with the Amasty OSC version 2.11.0

[2020-02-14 09:55] aderik commented on #20
Issue is solved with #58 and will be available with 1.0.19

[2020-02-14 09:55] #20 closed

[2020-02-19 14:17] aderik commented on #26
Sorry. I cannot reproduce this.
![afbeelding](https://user-images.githubusercontent.com/614292/74842574-ee4d5a00-532a-11ea-9132-cf57effb2e35.png)

[2020-02-19 14:17] #26 closed

[2020-02-19 14:28] aderik commented on #26
Sorry. I cannot reproduce this.
![afbeelding](https://user-images.githubusercontent.com/614292/74842574-ee4d5a00-532a-11ea-9132-cf57effb2e35.png)
But if you use multiple stores you only can set this on website level.

[2020-03-06 09:37] bamboekeizer opened #61 "Error occurred during "sendcloud_service_point_id" processing. The "" value's type is invalid. The "int" type was expected."
Sendcloud version 1.0.19
Magento version 2.3.3 (applied composer update) to apply latest updates
Also occurs on Magento version 2.3.4 . Upgraded from 2.3.3

Sendcloud service points disabled.
Integration with sendcloud account is established.

User selects a few products and moves to checkout page (onestepcheckout). After filling in de checkout details and standard delivery, the user hits the orde

[2020-03-06 15:01] aderik commented on #61
Which onestepcheckout do you use?

[2020-03-06 15:26] bamboekeizer commented on #61
Mageplaza

[2020-03-09 10:54] duckchip opened #64 "Sendcloud module not compatible with other shipping providers"
Hi guys,

We noticed issues with installing sendcloud next to other third party shipping modules.

The problem is caused by Sendcloud overwriting core file from magento instead of using mixins / wrappers.

Magento 2.2.2 came with a payload extender that is used to add extra data to the payload.

Thx in advance

[2020-03-13 09:55] bamboekeizer commented on #61
I installed version 1.0.20 but the same error occurs

[2020-03-13 11:49] aderik commented on #61
Can you contact Sendcloud Support?

[2020-03-13 11:49] #61 closed

[2020-03-13 11:50] aderik commented on #64
Which version do you use?

[2020-03-18 13:24] #57 closed

[2020-03-24 09:19] onepack opened #70 "Some servicepoints are not selectable"
When the servicepoint has a lot of timeslots in the time table the "select" button is pushed under the fold.
As you cannot make the window smaller this pickup-point becomes unavailable to be selected.
See screenprint
![pickup-point-select](https://user-images.githubusercontent.com/475598/77409273-3b549e00-6db9-11ea-88b7-9bdf6e9c7904.png)

It happens with quite some pickuppoints.

[2020-03-25 15:04] rickvanoosten commented on #70
@onepack SendCloud is currently working on this bug. This is not related to the SendCloud Magento 2 module but on the servicepoint api. This would be updated on their site so you don't have to update the SendCloud Magento 2 module.

[2020-03-25 15:04] #70 closed

[2020-04-16 12:48] rickvanoosten commented on #56
@onepack could you try it with the SendCloud version 1.1.1

[2020-04-20 08:14] #27 closed

[2020-05-11 12:56] #56 closed

[2020-05-11 12:57] rickvanoosten commented on #56
closed because it is inactive

[2020-05-18 08:42] matthew99 opened #86 "Shipment templates throwing php errors 2.3.5"
Uncaught Error: Call to a member function getShippingAddress() on...

I think functions are no longer allowed in email templates > 2.3

[2020-05-18 09:46] #64 closed

[2020-05-18 09:52] aderik commented on #86
Please. Specify which SendCloud version?
This is already fixed in latest version.

[2020-05-18 10:00] matthew99 commented on #86
I have version 1.1.2. My client uses Owebia in combination, I think something went wrong in the config there.

[2020-05-18 12:05] aderik commented on #86
Please make contact with SendCloud support so we can help you debug your site.

[2020-05-18 13:02] #86 closed

[2020-08-12 13:15] MobiphoneNL opened #91 "Orders sent to SendCloud based on Order Attribute"
Hi all,

Currently all our orders are sent from Magento 2 to the SendCloud Dashboard. However we would like to have the ability to specify which orders should be sent to SendCloud and which ones should not be sent to SendCloud, based on for example an order attribute. We were wondering whether a feature like this is on your roadmap?

[2020-08-12 13:20] aderik commented on #91
Did you ask SendCloud support for this feature?

[2020-08-17 08:10] #91 closed

[2020-08-27 08:04] tropilex opened #94 "Feature request: Shipping costs as Table Rate for pick up shops"
Hello,

You can only set one amount / percentage with the shipping costs for all pick up shops. It is not possible to set shipping costs per country.

Would be great to have the same function as Table Rates.

Regards,

Kees

[2020-09-17 13:22] aderik commented on #94
In the future this will be possible to set this up in the panel of SendCloud. I think around the first quarter of 2021

[2020-09-17 13:22] #94 closed

[2020-11-11 13:53] barryvdh commented on #47
I think there are still issues with the latest Amasty One Step Checkout (v3.0.9)?

[2020-11-12 12:06] rickvanoosten commented on #47
@barryvdh please create an new issue with SendCloud version and Magento version. This issue is closed

[2020-12-14 15:32] duckchip opened #102 ""This order no longer exists" exception when product from sales order item is removed"
Hi guys,

We've noticed that an exception is thrown in the order grid if an order is opened which has a product linked to the order item which got removed.

Magento 2.3.5
Sencloud 1.6.0

[2020-12-19 10:13] dragonfly4 commented on #102
Thanks, we had the same issue on Magento 2.3.6
Resolved after applying the fix.

[2021-01-04 15:36] #102 closed

[2021-01-05 13:32] anvanza opened #105 "Add Changelog.md"
Adding a changelog.md file would help with detecting any changes when updating my Magento instance.

[2021-01-07 10:42] anvanza opened #106 "Email templates legacy after Magento 2.4.0"
**Description**
The email templates included in the module are no longer working after 2.4.0.

**How to reproduce**
- Start a 2.4.1 environment
- Create a new email template from "New Order" (which is now overridden by SendCloud)
- Create order and send mail.
- The mail sent will not contain all variables like it should.

**Problem**
Magento made some changes to the variables in Email templates
ht

[2021-03-12 12:46] #106 closed

[2021-03-12 12:48] aderik commented on #106
This is fixed in #113

[2021-03-22 14:06] dragonfly4 opened #115 "Salable quantity issues with Magento 2.3.6-p1"
Magento 2.3.6-p1
Sendcloud: 1.7.1
PHP: 7.3.27
CentOS Linux release 7.9.2009 (Core)
Apache: 2.4.6

We have been having issues with the quantity and salable quantity numbers for months. Unable to find the cause and even suspecting theft in the warehouse. To get a grip of the situation we have installed the BSS Inventory Report Module

https://bsscommerce.com/magento-2-inventory-report-extension.html

[2021-03-22 15:40] aderik commented on #115
Hi,

No. Only the internal webhook.
But SendCloud do confirm the order items with the quantities.

Like this with json:
POST /index.php/rest/V1/order/18/ship

Content:

{"entity":{"order_id":"18","items":[{"order_item_id":27,"qty":1}]}}

Could you check in your case if the quantities in the json differs from the order?

You can install a api logger to check this: https://github.com/vladflonta/mage

[2021-03-22 20:36] dragonfly4 commented on #115
Very well, I have installed a module so will let it run for 24 hours.

https://github.com/magestat/magento2-log-webapi

[2021-03-24 11:20] dragonfly4 commented on #115
Can I enable debugging for that web hook you are calling please? Currently running v1.8.0

After each Sendcloud shipment I see it adds the ordered quantity to the salable quantity. So we have massive issues with products that were sold but cannot be shipped as the physical stock is lower.

Example of your api call log

`[2021/03/23 09:08:54] {
    "REQUEST:": {
        "method": "POST",
        "u

[2021-03-24 11:38] aderik commented on #115
If the order items and quantities are correct we cannot help you. Because this is the way to create an shipment in Magento2.
See https://devdocs.magento.com/guides/v2.4/rest/tutorials/orders/order-create-shipment.html. The only difference is we not only set the order id in the url but also in the body of the message.

[2021-03-31 07:56] #115 closed

[2021-07-02 15:01] Ylmzef opened #118 "PWA Support"
Please add PWA support

[2021-12-05 18:14] Frits1980 opened #119 "Error when in development mode"
When in development mode and executing bin/magento setup:upgrade i get this error:
[code]

[2022-01-21 10:20] dragonfly4 opened #121 "PHP 8.0 support"
PHP 7.4 is EOL and PHP 8.0 is available for 1 year. When will Sendcloud support PHP 8.0.x please?
https://www.php.net/supported-versions.php

https://github.com/SendCloud/sendcloud/blob/master/composer.json#L9

`  "name": "sendcloud/sendcloud",
  "description": "A Magento 2 module that connects the Magento environment to the SendCloud environment",
  "type": "magento2-module",
  "homepage": "https

[2022-01-27 13:27] DJB95 opened #122 "Error when upgrading to version 1.8.2 (using Composer)"
When upgrading to the latest version using Magento Marketplace (using Composer), I'm getting this error after setup:upgrade command:

SQLSTATE[42000]: Syntax error or access violation: 1072 Key column 'sen_condition_name' doesn't exist in table, query was: ALTER TABLE `sendcloud_servicepointrate` DROP COLUMN `sen_condition_name`, ADD CONSTRAINT `UNQ_C0DB67076EAA5EA868F15196691297E7` UNIQUE KEY (`w

[2022-01-28 16:10] bamboekeizer commented on #122
I have the same issue. But how is it possible the upgraded version is 1.8.2 while according to github version 1.8.0 is the latest?
  - Updating sendcloud/sendcloud (1.8.0 => 1.8.2): Loading from cache

[2022-01-29 14:51] DJB95 commented on #122
@bamboekeizer I've been in contact with them. should be fixed somewhere next week. update from Magento Marketplace
https://marketplace.magento.com/sendcloud-sendcloud.html

temporary fix would be to downgrade back to 1.8.0 (I did this to fix it for the time being)

[2022-02-02 08:12] michel334 opened #123 "Unable to install Sendcloud version 1.8.2 with composer"
We want to upgrade to Magento version 2.4.3 and we need Sendcloud 1.8.2 for this but unable to install 1.8.2 using composer

composer show sendcloud/sendcloud -all

name     : sendcloud/sendcloud
descrip. : A Magento 2 module that connects the Magento environment to the SendCloud environment
keywords :
versions : dev-master, 1.8.0, 1.7.1, 1.7.0, 1.6.1, 1.6.0, 1.5.0, 1.4.1, 1.4.0, 1.3.0, 1.2.0, 1.1

[2022-02-04 08:31] michel334 commented on #122
Same error is in Sendcloud version 1.8.3 using composer (magento version 2.3.2)

$ COMPOSER_MEMORY_LIMIT=-1 composer require sendcloud/sendcloud
Using version ^1.8 for sendcloud/sendcloud
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 0 installs, 1 update, 0 removals
  - Updating sendcloud/se

[2022-02-04 08:46] michel334 opened #124 "Error when upgrading to version 1.8.3 (using Composer)"
Error is in Sendcloud version 1.8.3 using composer (magento version 2.3.2)
See also Error when upgrading to version 1.8.2 (using Composer) #122

$ COMPOSER_MEMORY_LIMIT=-1 composer require sendcloud/sendcloud
Using version ^1.8 for sendcloud/sendcloud
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operat

[2022-02-18 10:19] michel334 commented on #124
Tried again today. We now get a different error (repo.magento.com):

[]$ COMPOSER_MEMORY_LIMIT=-1 composer require sendcloud/sendcloud
Using version ^1.8 for sendcloud/sendcloud
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 0 installs, 1 update, 0 removals
  - Updating sendcloud/sendcloud (1

[2022-02-24 06:19] michel334 opened #125 "Sendcloud 1.8.4 All shipment methods get selected on checkout"
On the first page of the checkout, when selecting a shipment method, all shipment methods get selected.
<edited>Also, i am unable to choose a service point for delivery.
Sendcloud 1.8.4 (repo.magento.com)
Magento 2.3.2
See screenshot
![select-bug](https://user-images.githubusercontent.com/6500172/155468940-bceb2775-40e0-480d-becb-eec4edc3a287.png)

[2022-03-07 15:49] dragonfly4 opened #126 "Info about status module - new partner is Logeecom"
Informational message

The last composer release dates from March 2021 so I have opened a ticket to hear what's going on with the Magento integration.

In the past it was https://www.creative-ct.nl who developed this module.

SendCloud has a new partner with the name Logeecom and I assume it's all taking longer than expected.

So I'm looking forward to updates in this repository from https://githu

[2022-04-25 18:27] codedge opened #127 "Magento 2.4.4 & PHP 8.1"
Hey!

Magento 2.4.4 has been release 2 weeks ago ([release notes](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-4.html)) with solely running on PHP 8.1.

Any plans to make this plugin compatible with the new version?

Thanks!

[2022-05-17 09:31] bow93 opened #129 "Sendcloud throws error when making a payment"
Right before making a payment, strange thing is that it does seem to work on our staging environment. Shipping method and connection are both disabled when this happens.

[2022-05-17 07:12:23] main.CRITICAL: Error: Call to undefined method Magento\Sales\Api\Data\OrderItemExtension::setCountryOfManufacture() in /data/web/magento2/vendor/sendcloud/sendcloud/Plugin/Order/OrderItemRepository.php:91
St

[2022-05-24 11:41] Hayyan-Ebrahem opened #130 "Error when configuring dynamic-checkout-beta in the Admin (Magento 2.4.3)"
When trying to config "dynamic-checkout-beta" in admin:

1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): The XML in file "/vendor/sendcloud/sendcloud/view/adminhtml/ui_component/configuration_form.xml" is invalid:
Element 'option': The type definition is abstract.
Line: 168

Verify the XML and try again.

[2022-05-31 08:51] codedge commented on #127
Thanks for the fix in https://github.com/SendCloud/sendcloud/releases/tag/1.8.6

[2022-06-07 19:43] Jeroen999 opened #132 "2FA for sencloud user in Magento?"
Is it possible to have 2FA enabled in Magento in combination with Sendcloud? I don't know how 2FA can be configured for rob api.

[2022-06-09 11:50] ivabocheva commented on #130
Hi Hayyan-Ebrahem,

15 days ago the master branch was updated with the newest changes regarding dynamic checkout. This means composer is now updated with version Sendcloud 1.8.6. Do you mind retrying the installation and letting us know if you are still running into this issue?

Kind regards,

Iva Bocheva (Technical Integration Manager)

[2022-06-14 09:39] gjportegies opened #133 "Issue with Amasty Shipping Rules after updating to 1.8.6"
For one of our customers we're experiencing a strange bug when upgrading the SendCloud module to 1.8.6.

We're using the Amasty Shipping Rules module to set specific shipping costs for products that'll fit through the mailbox. Before with version 1.8.0 this was working as expected.

I've tested the above on a development environment and confirmed that switching between these versions breaks the ru

[2022-08-17 10:50] rhaselager opened #134 "Coupon for free shipping gets ignored by pick up locations shipping method"
#### What steps will reproduce the problem?

1. We've configured a coupon for free delivery

2. Go to cart page and fill in a coupon that enables "free delivery"

3. Go to checkout -> select shipping method

#### What is the expected result?

* All shipping methods should be "free"

#### What happens instead?

* Sendcloud shipping method "Pickup location", coupon for free delivery gets ignored
* A

[2022-08-24 07:05] ivabocheva commented on #134
Hi rhaselger,

We will be looking at the issue you are reporting and get back to you with our findings.

Kind regards,

The Sendcloud team

[2022-08-30 14:26] hostep opened #135 "Composer autoload errors"
Hi

Using
- version 2.0.3 of your module
- composer version 2.3.5 or higher

Composer throws these errors when dumping an optimised autoloader:

[code]

It looks like there might be some typo's in the filenames or namespaces. For example the namespace `SendclooudDeliveryZone`  is incorrect, it should be `AbstractDomen` [over here](https://github.com/SendCloud/sendcloud/blob/2.0.3/Model/ResourceMod

[2022-08-31 10:18] Hayyan-Ebrahem opened #136 "Magento2.4.4 TypeError: Argument 1 passed to Plugin\Cart\CheckoutCartRepository::afterGet()"
Magento 2.4.4
Composer 2.3.5
Sendcloud 2.0.3

In checkout payment  when proceeding to last step:

TypeError: Argument 1 passed to SendCloud\SendCloud\Plugin\Cart\CheckoutCartRepository::afterGet() must be an instance of Magento\Quote\Model\QuoteRepository, instance of Magento\AsyncOrder\Model\CartRepository\Interceptor given, called in /vendor/magento/framework/Interception/Interceptor.php on line

[2022-09-01 08:53] ivabocheva commented on #135
Hi hostep,

Thank you for your comment, we are currently reviewing it.

Kind regards,

The Sendcloud team

[2022-09-01 08:53] ivabocheva commented on #136
Hi Hayyan-Ebrahem,

Thank you for your feedback, we are currently reviewing it.

Kind regards,

The Sendcloud team

[2022-09-01 10:42] Hayyan-Ebrahem opened #137 "Sendcloud 2.0 wrong namespace and typo directory name"
Controller/Adminhtml/Sysytem/Config/ : typo Sysytem

/Model/ResourceModel/AbstractDomen/Collection.php: wrong namespace
"namespace SendCloud\SendCloud\Model\ResourceModel\SendclooudDeliveryZone;"

[2022-09-02 11:55] JoryHogeveen opened #138 "Compile fatal error after composer change"
[code]

[2022-09-05 14:38] twist247 commented on #134
Hi @ivabocheva ,

We faced the same issue. After checking the code, we found that the issue is most likely related to 'Condition' = 'Fixed fee shipping price' setting. If you check method SendCloud\SendCloud\Model\Carrier\SendCloud::collectFlatRate(), on line 177 you will see that it takes shipping price directly from settings. There is no code that calculates free boxes. As a result, if a free sh

[2022-09-08 08:31] IvoJongmans opened #139 "Syntax error or access violation: 1071 Specified key was too long;"
Hi,

When running setup:upgrade after installing the latest sendcloud module version (2.0.3) with composer I get this error message:

Schema creation/updates:
SQLSTATE[42000]: Syntax error or access violation: 1071 Specified key was too long; max key length is 767 bytes, query was: CREATE TABLE `sendcloud_shipping_methods` (
`id` int(11)  NOT NULL  AUTO_INCREMENT COMMENT "Primary key",
`store_view

[2022-09-20 13:14] pkrstojevic-logeecom commented on #105
New version of the plugin released. Closing this issue.

[2022-09-20 13:14] #105 closed

[2022-09-20 13:14] pkrstojevic-logeecom commented on #119
New version of the plugin released. Closing this issue.

[2022-09-20 13:14] #119 closed

[2022-09-20 13:15] pkrstojevic-logeecom commented on #121
New version of the plugin released. Closing this issue.

[2022-09-20 13:15] #121 closed

[2022-09-20 13:15] pkrstojevic-logeecom commented on #122
New version of the plugin released. Closing this issue.

[2022-09-20 13:15] #122 closed

[2022-09-20 13:15] pkrstojevic-logeecom commented on #123
New version of the plugin released. Closing this issue.

[2022-09-20 13:15] #123 closed

[2022-09-20 13:16] pkrstojevic-logeecom commented on #124
New version of the plugin released. Closing this issue.

[2022-09-20 13:16] #124 closed

[2022-09-20 13:16] pkrstojevic-logeecom commented on #125
New version of the plugin released. Closing this issue.

[2022-09-20 13:16] #125 closed

[2022-09-20 13:17] pkrstojevic-logeecom commented on #126
New version of the plugin released. Closing this issue.

[2022-09-20 13:17] #126 closed

[2022-09-20 13:18] teodoratimoti commented on #135
Hi hostep,

Please note that our team found what the issue is and we fixed it.

The new version 2.0.4 is released on both marketplace and GitHub.

Thank you,

Best regards.

[2022-09-20 13:18] #135 closed

[2022-09-20 13:18] pkrstojevic-logeecom commented on #129
New version of the plugin released. Closing this issue.

[2022-09-20 13:18] #129 closed

[2022-09-20 13:18] pkrstojevic-logeecom commented on #130
New version of the plugin released. Closing this issue.

[2022-09-20 13:18] #130 closed

[2022-09-20 13:19] #132 closed

[2022-09-20 13:20] pkrstojevic-logeecom commented on #133
New version of the plugin released. Closing this issue.

[2022-09-20 13:20] #133 closed

[2022-09-20 13:20] teodoratimoti commented on #136
Hi Hayyan-Ebrahem,

Please note that our team found what the issue is and we fixed it.

The new version 2.0.4 is released on both marketplace and GitHub.

Thank you,

Best regards.

[2022-09-20 13:20] #136 closed

[2022-09-20 17:07] hostep commented on #135
Hi @teodoratimoti

I'm afraid it's not fully fixed, I still get the following with version 2.0.4:

[code]

It looks like the directory `Controller/Adminhtml/Sysytem` was forgotten to be removed...

Also additionally, I'm very confused about the large amount of [changes between 2.0.3 and 2.0.4](https://github.com/SendCloud/sendcloud/compare/2.0.3...2.0.4?w=1), these weren't needed:
- php coding sta

[2022-09-20 17:20] hostep commented on #137
This should partly be fixed in version 2.0.4 of this module. See https://github.com/SendCloud/sendcloud/issues/135

[2022-09-21 09:10] teodoratimoti commented on #137
Hello Hayyan-Ebrehem,

Thank you for reaching out. This is just a quick note to inform you that we received your ticket.

Our team will take this issue into consideration as soon as possible.
We will keep you updated.

Best regards.

[2022-09-21 09:34] teodoratimoti commented on #138
JoryHogeveen,

Thank you for reaching out. This is just a quick note to inform you that we received your ticket.

Our team will take this issue into consideration as soon as possible.
We will keep you updated.

Best regards.

[2022-09-21 09:38] JoryHogeveen commented on #138
Hi @teodoratimoti

Sorry for the silence here. Hold on just yet on putting your dev team on this.
I got a notice from the original shop dev that this might be a third party plugins issue!

[2022-09-22 07:52] teodoratimoti commented on #138
Hi @JoryHogeveen,

Thank you for this information.
Can you please just notify us when you make sure that this is a third-party plugin issue?

Thank you,

Best regards.

[2022-09-28 09:02] logeecom commented on #134
Hi @twist247,

Thank you for providing us with the reproduction steps.

We are investigating the reported issue and will let you know as soon as we have more information.

Best regards.

[2022-09-28 13:19] Ylmzef commented on #118
I can't see anything about PWA in the new version. Why this is closed?

[2022-09-29 10:35] pkrstojevic-logeecom commented on #118
Dear @Ylmzef,

Thank you for reaching out to us!

The request you made requires more investigation. The Sendcloud support team is best to investigate more indepth. Please forward your request via the Support page in sendcloud: https://app.sendcloud.com/v2/support or reach out to support@sendcloud.com.

If possible please describe clearly the issue and add examples where possible.

I hope I have in

[2022-09-30 13:58] logeecom commented on #137
Hello @Hayyan-Ebrahem,

Thank you for bringing the typo issue to our attention.

Our team fixed this typo in version 2.0.4, which was released to the marketplace. We also removed it from GitHub.

If you have any additional questions, please let me know.

Best regards.

[2022-09-30 14:29] logeecom commented on #134
Hi @twist247,

Thank you once again for your detailed issue description.

After investigation, our team concluded that the legacy service point shipping method does not contain logic for checking free shipping conditions based on cart rules and it requires investigation. We suggest using a new **checkout service point delivery method** that contains logic for checking free shipping conditions base

[2022-09-30 14:30] #134 closed

[2022-09-30 14:35] logeecom commented on #139
Hi @IvoJongmans,

We just want to inform you that our team is investigating the issue.

We will keep you posted on the investigation progress.

Best regards.

[2022-10-01 09:47] hostep commented on #137
@logeecom: it's not fully fixed yet like I mentioned in my earlier comment: https://github.com/SendCloud/sendcloud/issues/135#issuecomment-1252649636

[2022-10-04 07:50] logeecom commented on #138
Hi @JoryHogeveen,

We will close this issue since there are no additional inputs that the issue is related to the Sendcloud plugin.

If you experience the same issue, please forward your request via the Support page in sendcloud: https://app.sendcloud.com/v2/support or reach out to support@sendcloud.com.

If possible please describe clearly the issue and add examples where possible.

I hope I have

[2022-10-04 07:50] #138 closed

[2022-10-07 13:31] logeecom commented on #139
Hi @IvoJongmans,

Our team managed to reproduce and fix the mentioned issue.

The fix for the reported issue will be included in the release planned for next week.

Best regards.

[2022-10-14 12:23] d1m5n opened #140 "Unable to select a service point when creating order in backend"
Our client is using the servicepoint as shipping method.
During checkout the customer is able to select a service point.

But our client also creates orders manually in the backend.
When selecting sendcloud service point as shipping method, our client isn't able to select a service point.
Its only possible to select the shipping method.

Our client would love to see the possibility to select the s

[2022-10-14 12:26] d1m5n opened #141 "Maximum amount"
Our client would love to see a setting to limit the servicepoint to a maximum amount.
At this moment it's possible to enable free shipping from amount X.

![image](https://user-images.githubusercontent.com/5171763/195846434-0b9cd905-dc9b-42f4-be6a-6b81b0e46f66.png)

Our client would love to see that packages with a big amount of value, doesn't get dropped at a service point.
Therefor they would lo

[2022-10-14 15:28] teodoratimoti commented on #140
Hi @d1m5n ,

We will be looking at the issue you are reporting and get back to you with our findings.

Thank you,

Kind regards.

[2022-10-14 15:33] teodoratimoti commented on #141
Hi @d1m5n,

Thanks for submitting that idea. Our team will review it and process it further.

We will keep you posted about the process of this change request.

We appreciate your recommendation,

Best regards.

[2022-10-17 13:42] teodoratimoti commented on #139
Hi @IvoJongmans,

The new plugin version 2.0.5 is released on the Magento marketplace - https://marketplace.magento.com/sendcloud-sendcloud.html
Also, the 2.0.5 version is published on GitHub - https://github.com/SendCloud/sendcloud

Thank you,

Best regards.

[2022-10-17 13:42] #139 closed

[2022-10-18 10:00] teodoratimoti commented on #141
Dear @d1m5n ,

The request you made requires more investigation. The Sendcloud support team is best to investigate more indepth. Please forward your request via the Support page in sendcloud: https://app.sendcloud.com/v2/support or reach out to support@sendcloud.com

We hope we have informed you sufficiently and wish you a great day!

Kind regards.

[2022-10-18 10:00] #141 closed

[2022-10-18 10:01] teodoratimoti commented on #140
Dear @d1m5n ,

The request you made requires more investigation. The Sendcloud support team is best to investigate more indepth. Please forward your request via the Support page in sendcloud: https://app.sendcloud.com/v2/support or reach out to support@sendcloud.com

We hope we have informed you sufficiently and wish you a great day!

Kind regards.

[2022-10-18 10:01] #140 closed

[2022-10-18 16:00] sgagence opened #142 "Is Sendcloud compatible with MSI"
Hi,

When trying to ship order from Sendcloud, webservices response is : Shipment can't create : Source item not found by source code: default and sku: ....

Is ther a way to set a source to deduct stock and make sendcloud module compatible with Magento MSI ?

Thanks

[2022-10-20 12:44] teodoratimoti commented on #142
Dear @sgagence,

Thank you for reaching out to us!

The request you made requires more investigation. The Sendcloud support team is best to investigate more indepth. Please forward your request via the Support page in sendcloud: https://app.sendcloud.com/v2/support or reach out to support@sendcloud.com

We hope we have informed you sufficiently and wish you a great day!

Kind regards

[2022-10-20 12:44] #142 closed

[2022-11-28 08:30] jimihuy opened #144 "stripos(): Passing null to parameter #1 .... /AdminhtmlBlockHtmlBeforeObserver.php on line 125"
Magento 2.4.5 ee
Sendcloud 2.0.6

## Error
`Deprecated Functionality: stripos(): Passing null to parameter #1 ($haystack) of type string is deprecated in /var/www/share/magento/ee/vendor/magento/module-price-permissions/Observer/AdminhtmlBlockHtmlBeforeObserver.php on line 125`

## List of enabled modules:
Magento_Store
Magento_AdminAnalytics
Magento_AdminNotification
Magento_AdminGwsConfigurableP

[2022-11-29 12:18] teodoratimoti commented on #144
Hello @jimihuy,

Thank you for reaching out.
Our team will check this issue and we will get back with more information as soon as possible.

Best regards.

[2022-11-29 13:48] teodoratimoti commented on #144
Hello @jimihuy ,

Please note that you are using Adobe Commerce ver. 2.4.5 ee (known as Magento Enterprise Edition). This version is not officially supported on the marketplace (https://marketplace.magento.com/sendcloud-sendcloud.html#product.info.details.tech_specs) by Sendclouod.
Our team has never tested Sendcloud plugin compatibility with this Magento 2 version and thus cannot guarantee full c

[2022-11-29 13:49] #144 closed

[2022-11-30 14:47] mikehenze opened #145 "Servicepoints data missing in orders"
Using sendcloud 2.07 and magento 2.4.5p1 and using dynamic checkout with servicepoints.
When an order is placed choosing a servicepoint the actual servicepoint data is missing in magento and also in sendcloud.

![Screenshot (3)](https://user-images.githubusercontent.com/10600315/204826653-37cb21ee-1bda-44ba-a069-ec32d698e671.png)

In the database table "sales_order" all the "sendcloud_service_poin